* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}



@keyframes slideRight {
   from {
      transform: translateX(-100%);
   }

   to {
      transform: translateX(0%);
   }
}

.logos {
   background-color: #2b2b2b;
   overflow: hidden;
   padding: 10px 0;
   white-space: nowrap;
   position: relative;
   width: 100vw;
}

.logos:before,
.logos:after {
   position: absolute;
   top: 0;
   width: 500px;
   height: 100%;
   content: "";
   z-index: 2;
}



.logos:hover .logos-slide-right {
   animation-play-state: paused;
}

.logos-slide-right {
   display: inline-block;
   animation: 60s slideRight infinite linear;
}

.logos-slide-right img {
   height: 250px;
   margin: 1em;
   margin-bottom: 0em;
}