.profileResponsive-background {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #2f2f2f;
   width: 100vw;
   height: 100vh;
}

.profileResponsive-user-card {
   margin-top: 2vw;
   background-color: grey;
   width: 95vw;
   height: 33vh;
   position: relative;
}

.profileResponsive-streamer-card {
   margin-top: 4vw;
   background-color: grey;
   width: 95vw;
   height: 62vh;
}

.profileResponsive-user-card-profile-pic {
   position: absolute;
   width: 50vw;
   height: 50vw;
   border-radius: 50%;
   background-color: orange;
   top: 22vh;
   left: 23vw;
}