.main-section-5 {
   width: 100vw;
   height: 50em;

   background-color: #ffd0ff;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.cards-container-5 {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 10em;
   flex-wrap: wrap;

}

.card-section-5 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 12em;
}

.h2-section5 {

   color: #2b2b2b;
   display: flex;


}

.img-section5 {
   margin-top: 5em;

   width: 9em;
   height: 9em;
   object-fit: contain;
}

.p-section5 {
   text-align: center;
   color: #2b2b2b;
   height: 9em;
   font-size: 1.2em;

}

.h1-section5 {
   font-size: 2.5em;
   color: #2b2b2b;
}

.buttons-section5 {
   margin-top: 5em;
   display: flex;
}


.button-im-streamer-5 {
   width: 10em;
   height: 2em;
   border-radius: 3em;

   border: none;
   color: #2b2b2b;
   font-size: 1.5em;
   font-weight: bolder;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 1em;
   background-color: rgba(255, 255, 255, 0.3);
}

.button-im-streamer-5:hover {
   background-color: #2b2b2b;
   cursor: pointer;
   color: white;
}

.button-im-brand-5 {
   width: 10em;
   height: 2em;
   border-radius: 3em;
   background-color: rgba(255, 255, 255, 0.3);
   border: none;
   color: #2b2b2b;
   font-size: 1.5em;
   font-weight: bolder;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 1em;
}

.button-im-brand-5:hover {
   background-color: #2b2b2b;
   cursor: pointer;
   color: white;
}

@media only screen and (max-width: 428px) {
   .main-section-5 {
      width: 100vw;
      height: auto;
   }

   .cards-container-5 {
      display: flex;
      flex-direction: column;
      transform: scale(0.6);

   }

   .img-section5 {
      margin-top: -8em;
   }

   .p-section5 {
      margin-top: 0em;

   }

   .h1-section5 {
      font-size: 1.5em;
      margin-bottom: -8em;
      margin-top: 2em;
      text-align: center;
   }

   .buttons-section5 {
      display: flex;
      flex-direction: column;
      margin-top: -15em;
   }

   .button-im-streamer-5 {
      margin-left: 1em;
      margin-bottom: 1em;
   }

   .button-im-brand-5 {
      margin-left: 1em;
      margin-bottom: 4em;
   }


}