.body-report-stream {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 100vh;
   background: rgb(247, 0, 159);
   background: linear-gradient(0deg, rgba(247, 0, 159, 1) 0%, rgba(251, 35, 0, 1) 51%, rgba(255, 166, 0, 1) 100%);
}

.logo-placing-register-streamer {
   display: flex;
   width: auto;
   margin-left: 10%;

}

.form-body-streamer {
   font-size: 1em;
   margin-bottom: 2em;
   margin-top: 2em;
   padding: 20px;
   display: flex;
   flex-direction: column;
   width: 34em;
   margin: 0 auto;
   background-color: #ffffff;
   padding: 1.5em;
   border-radius: 2em;

}

.image-input-form {

   display: none
}


.image-input-form+label {
   display: flex;
   justify-content: space-between;


}

.image-input-form__image-input-form-name,
.image-input-form__image-input-form-button {
   padding: 0.8em;
   border-radius: 6px;
}

.image-input-form__image-input-form-name {
   background-color: white;
   border: 1px solid rgba(0, 0, 0, 0.164);
   width: 68%;

}

.image-input-form__image-input-form-button {
   background-color: orange;
   text-align: center;
   width: 30%;
   cursor: pointer;

}

.image-input-form__image-input-form-button:hover {
   background-color: white;
   color: orange;
   border: 1px solid orange;
}

.image-input-form__image-input-form-button:active {
   background-color: orange;
   color: white
}



.button-send-pic {
   background-color: orangered;
   width: 30%;
   padding: 0.5em;
   text-align: center;
   cursor: pointer;
   border-radius: 2em;
   margin-top: 1em;
   margin-left: 18em;

}

.button-send-pic:hover {
   background-color: white;
   color: orangered;
   border: 1px solid orangered;
}

.button-send-pic:active {
   background-color: orangered;
   color: white
}


.selectCountry {
   font-size: 1em;
   width: 100%;
   height: 100%;
   border: none;
   border-radius: 6px;
   padding: 16px 24px;
   margin-bottom: 2px;
   border: 1px solid rgba(0, 0, 0, 0.164);
   background-color: white;
   color: #2b2b2b;

}

label {
   font-size: 1em;
   font-weight: 500;
   color: #2b2b2b;
   display: block;
   margin-bottom: 0.5em;
   margin-top: 0.5em;
}

.input-form-stream {
   font-size: 1em;
   background-color: white;
   width: 100%;
   color: #2b2b2b;
   padding: 16px 24px;
   margin-bottom: 2px;
   border: none;
   border-radius: 6px;
   border: 1px solid rgba(0, 0, 0, 0.164);

}

.input-form-streamer.error {
   font-size: 1em;
   background-color: rgba(255, 0, 0, 0.25);
   width: 100%;
   color: #2b2b2b;
   padding: 16px 24px;
   margin-bottom: 2px;
   border: none;
   border-radius: 6px;
   border: 1px solid rgba(255, 0, 0, 1);

}

.error-message {
   font-size: 0.8em;
   color: red;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
}

.buttons {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-top: 20px;
}

.buttonBack {
   font-size: 1.2em;
   background-color: orange;
   width: 8em;
   margin-right: 2em;
}


button {
   font-size: 1.2em;
   width: 100%;
   margin-top: 20px;
   margin-bottom: 20px;
   background-color: #2b2b2b;
   color: #fff;
   padding: 20px 20px;
   border: none;
   border-radius: 3em;
   cursor: pointer;
   align-self: center;
   box-shadow: 0 0 2px #2b2b2b;
}


button:hover {

   background-color: white;
   color: #2b2b2b;
}

button:active {

   background-color: #2b2b2b;
}