.register {
   width: 7em;
   height: 2em;
   border-radius: 3em;
   background-color: #ffffff;
   border: none;
   color: #2b2b2b;
   font-size: 1.2em;
   font-weight: bolder;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 1em;
   position: relative;
}

.user-panel {
   width: 14em;
   height: 2em;
   border-radius: 3em;
   background-color: #ffffff;
   border: none;
   color: #2b2b2b;
   font-size: 1.2em;
   font-weight: bolder;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 1em;
   position: relative;


}

.user-panel:hover {
   background-color: #2b2b2b;
   cursor: pointer;
   color: white;
}


.register-hover {
   position: absolute;
   margin-left: -11em;
   margin-top: 0.5em;
   width: 18em;
   height: 2em;
   border-radius: 3em;
   background-color: #ffffff;
   border: none;
   color: #2b2b2b;
   font-size: 1.2em;
   font-weight: bolder;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;


}

.register-hover-2 {
   position: absolute;
   margin-left: -11em;
   margin-top: 3em;
   width: 18em;
   height: 2em;
   border-radius: 3em;
   background-color: #ffffff;
   border: none;
   color: #2b2b2b;
   font-size: 1.2em;
   font-weight: bolder;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}

.register:hover,
.register-hover:hover,
.register-hover-2:hover {
   background-color: #2b2b2b;
   cursor: pointer;
   color: white;
}

@media only screen and (max-width: 430px) {


   .register {
      transform: scale(0.8);


   }

   .user-panel {
      transform: scale(0.8);
      margin-left: -3em;


   }

   .body-register-hover {

      display: flex;
      flex-direction: row;
      position: absolute;
      left: 15em;
      top: 2em;
      height: 10em;

   }




}