.pop-up-delete-user-container {
   width: 90%;
   height: 40%;
   position: absolute;
   background-color: lightcoral;
   border: solid 2px red;
   display: flex;
   justify-content: center;

}



.question-delete-account {
   text-align: center;
   color: red;
   font-size: 1.2em;
   margin-top: 1em;
}


.buttons-pop-up-delete-user {
   width: 30em;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 2em;
}

.button-pop-up-delete-user-yes {
   background-color: red;

}

.button-pop-up-delete-user-yes:hover {
   background-color: darkred;
   color: white;
}