.publicidad-en-stream-brands {
   color: white;
   margin-top: 4em;
   margin-bottom: 2em;
   display: flex;
   flex-direction: column;
   justify-content: center;


}

.paragraf-section2-brands {
   margin-top: 2em;
   margin-bottom: 2em;
   width: 70vw;
   font-weight: 400;
   line-height: 1.6;
   font-size: 2em;
   color: white;
}

.image-placer-brands {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   height: 20;
   background-color: white;

}

.image-placer-brands img {

   height: 20vh;
   margin-top: 2em;
   margin-bottom: 2em;
}

.buttons-brand-section {
   justify-self: center;
   background-color: white;
   display: flex;
   justify-content: space-around;
   width: 40vw
}

@media only screen and (max-width: 430px) {
   .streamer-image-under-section1-content {
      width: 100vw;
   }

   .publicidad-en-stream-brands {
      width: 90vw;
   }

   .App {
      margin-top: -8em;
      transform: scale(0.5);
   }

   .paragraf-section1-brands {
      margin-top: -4em;
      font-size: 1.5em;
      width: 90vw;
      padding-bottom: 2em;
   }

   .image-placer-brands2 {
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .buttons-brand-section {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 6em;
   }
}