.body-panel {
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #2b2b2b;
}

.profile-card {
   width: 25em;
   height: 44em;
   background-color: lightgrey;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-right: 2em;

}



.profile-streamer-card,
.profile-brand-card {
   width: 50em;
   height: 44em;
   background-color: lightgrey;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;

}

.top-half-card {
   width: 25em;
   height: 20em;
   background-color: orange;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}

.profile-picture {
   width: 10em;
   border-radius: 50%;
}

.profile-info {
   color: #2b2b2b;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: 2em;
}

.streamer-info,
.brand-info {
   width: 44em;

   display: flex;
}

.edit-profile-button {
   width: 80%;
   padding: 0.5em;
   margin-top: 2em;
   margin-bottom: 1em;
}

.create-stream-button {
   width: 30%;
   padding: 0.5em;
   margin-top: 2em;
   margin-bottom: 1em;
   position: absolute;
   bottom: 0em;
   right: 1em;
   background-color: orangered;
   border: none;
   box-shadow: 0px 0px 0px 0px;
}

.create-stream-button:hover {
   background-color: orange;
   color: white;
}

.create-stream-button2 {
   width: 30%;
   padding: 0.5em;
   margin-top: 2em;
   margin-bottom: 1em;
   position: absolute;
   bottom: 0em;
   right: 15em;
   background-color: orange;
   border: none;
   box-shadow: 0px 0px 0px 0px;
}

.create-stream-button2:hover {
   background-color: orangered;
   color: white;
}


.p-streamer-nick,
.p-brand-name {
   margin-bottom: 2em;
}

.p-streamer-platform,
.p-brand-cif {
   margin-bottom: 10em;
}

.streamer-revenue {
   margin-bottom: 2em;
}

.streamer-info-top,
.brand-info-top {
   width: 22em;

   display: flex;
   flex-direction: row;

}



.streamer-stream-image,
.brand-stream-image {

   height: 15em;
   border-radius: 1em;

   color: #2b2b2b;

   width: 22em;
}

.brand-logo {
   height: 15em;

}