.streams1-table-resume-content-background {
   width: 100vw;
   height: 100vh;
   overflow-y: scroll;
   display: flex;
   flex-direction: column;
   align-items: center;
   color: #2b2b2b;
   position: relative;

}

.streams1-resume-table {
   min-width: 120em;
   border-collapse: collapse;
   font-size: 1em;
   text-align: center;
   color: #2b2b2b;
   overflow-x: scroll;
   position: absolute;
   left: 2em;
   top: 8em;



}

.streams1-resume-table-title {
   background-color: #2b2b2b;
   color: #fff;

   height: 3em;
   margin-bottom: 2em;
}

.streams-resume-table-rows {

   color: #2b2b2b;
   padding: 10px;
   height: 3em;
   border-bottom: 1px solid black;
   word-wrap: break-word;
   padding-left: 1em;
   padding-right: 1em;
}

.first-column {
   border-left: solid 1px black;
}

.last-column {
   border-right: 1px solid black;
}

.approve1-button {
   background-color: green;
   color: #fff;
   border: none;
   border-radius: 2em;
   padding: 0.5em;
   margin: 0.5em;
   cursor: pointer;
   width: 5em;
}

.delete1-button {
   background-color: rgb(255, 0, 0);
   color: #fff;
   border: none;
   border-radius: 2em;
   padding: 0.5em;
   margin: 0.5em;
   cursor: pointer;
   width: 5em;
}

.check1-picture:hover {
   cursor: pointer;
   transform: scale(5);

}

.check1-picture:active {
   transform: scale(10);
}

.user-active {
   color: white;
}

.text-user-active {
   margin-top: 1.2em;
   margin-left: 1em;
}

.flex-direction-user-active {
   display: flex;
}

.button-navigate-streams-resumen {
   width: 10vw;
   background-color: orange;
   margin-top: 2em;
}

.button-navigate-streams-resumen:hover {
   cursor: pointer;
   background-color: orangered;
   color: white;
}